// *************************************
//
//   Button
//   -> Default buttons
//
// *************************************

.btn
  padding: $padding-base-vertical $padding-base-horizontal
  font-size: $font-size-p
  border: 1px solid
  border-radius: $border-radius-base
  display: inline-block

.btn-outline
  border-color: #fff

  &:hover
    background-color: #fff
    color: #232731