// *************************************
//
//   Hero
//   -> Yeah my style header
//
// *************************************

.hero
  color: #fff
  display: table
  width: 100%

  .hero-drawable
    position: absolute
    display: block

  .container
    text-align: center
    vertical-align: middle
    display: table-cell
    height: 500px
    position: relative
    z-index: 2

  p
    font-size: $font-size-h3
