// *************************************
//
//   Hero
//   -> Yeah my style header
//
// *************************************

.hero
  background-color: #232731
  color: #fff
  display: table
  width: 100%

  .container
    text-align: center
    vertical-align: middle
    display: table-cell
    height: 500px

  p
    font-size: $font-size-h3