// *************************************
//
//   Project
//   -> Showing project
//
// *************************************

.project
  padding-top: $padding-large-vertical * 4
  padding-bottom: $padding-large-vertical * 4
  overflow: hidden

  &:nth-child(odd)
    background-color: #F3F4F8