<% provide :title, 'Editing Post' %>

<section id="edit-post" class="section">
  <header class="section-header tac">
    <div class="container">
      <h1>Editing Post</h1>
    </div>
  </header>

  <div class="section-body container">
    <%= render 'form', post: @post %>
    <br>
    <hr>
    <%= link_to 'Show', @post %> |
    <%= link_to 'Back', posts_path %>
  </div>
</section>
