.field
  margin-bottom: $padding-large-vertical * 2

  label
    display: block
    font-weight: 600
    margin-bottom: $padding-small-vertical

  input, textarea, select
    padding: $padding-base-vertical $padding-base-horizontal
    background-color: white
    border: 1px $blue-grey-300 solid
