.nav
  width: 100%
  position: fixed
  z-index: 3
  transition: background-color 0.2s ease-out

  ul
    margin: 0 (-$padding-large-horizontal)

  li
    display: inline-block
    padding: 0 $padding-large-horizontal

.nav-bar
  padding: $padding-large-vertical*3 0
  border-bottom: 1px $cyan-600 solid
  transition: padding 0.2s ease-out, border-bottom 0.2s ease-out

.nav-brand,
.nav-link
  display: inline-block
  color: white

.nav-brand
  margin-right: $padding-large-horizontal*2
  font-size: $font-size-h3

.nav-link
  text-transform: uppercase
  font-size: $font-size-h6

.nav-fixed
  transition: background-color 0.3s ease-out
  background-color: $cyan-900

  .nav-bar
    transition: padding 0.3s ease-out, border-bottom 0.3s ease-out
    padding: $padding-large-vertical*1.5 0
    border-bottom-color: $cyan-900
