.section
  margin-bottom: $padding-large-vertical*5

.section-header
  background-color: $blue-grey-800
  padding: $padding-large-vertical*15 0 $padding-large-vertical*6 0
  color: #fff

  h1
    color: inherit
    text-transform: uppercase

.section-body
  padding-top: $padding-large-vertical*3

  pre
    background-color: $grey-900
    padding: $padding-large-vertical $padding-large-horizontal
    color: $yellow-500
    overflow-x: auto
